# This rule is not used by the project commons-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants full permissions ('*') over s3.kubedoop.dev.
# This role is intended for users authorized to modify roles and bindings within the cluster,
# enabling them to delegate specific permissions to other users or groups as needed.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: commons-operator
    app.kubernetes.io/managed-by: kustomize
  name: s3bucket-admin-role
rules:
- apiGroups:
  - s3.kubedoop.dev
  resources:
  - s3buckets
  verbs:
  - '*'
- apiGroups:
  - s3.kubedoop.dev
  resources:
  - s3buckets/status
  verbs:
  - get
