apiVersion: authentication.zncdata.dev/v1alpha1
kind: AuthenticationClass
metadata:
  labels:
    app.kubernetes.io/name: authenticationclass
    app.kubernetes.io/instance: authenticationclass-sample
    app.kubernetes.io/part-of: commons-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: commons-operator
  name: authenticationclass-sample
spec:
  provider:
    oidc:
      hostname: keycloak.example.com
      port: 8080
      rootPath: /auth
      provisionerHint: keycloak
      scopes:
      - openid
      - email
      - profile
      principalClaim: preferred_username
      tls:
        verification:
          none: {}
          server:
            caCert:
              secretClass: tls
              webPIK: {}
          mutual:
            certSecretClass: tls
    tls:
      clientCertSecretClass: tls
    static:
      userCredentialsSecret:
        name: static-credentials
    ldap:
      hostname: ldap.example.com
      port: 389
      bindCredentials:
        secretClass: ldap-credentials
        scope:
          node: false
          pod: true
          services:
          - foo
      ldapFieldNames:
        surname: cn
        givenName: cn
        group: cn
        email: mail
        uid: cn
      searchBase: ou=people,dc=example,dc=com
      searchFilter: (uid={username})
      tls:
        verification:
          none: {}
          server:
            caCert:
              secretClass: tls
              webPIK: {}
          mutual:
            certSecretClass: tls
