apiVersion: s3.kubedoop.dev/v1alpha1
kind: S3Connection
metadata:
  labels:
    app.kubernetes.io/name: commons-operator
    app.kubernetes.io/managed-by: kustomize
  name: s3connection-sample
spec:
  credentials:
    secretClass: s3-credentials
    scope:
      node: false
      pod: true
      services:
      - foo
    host: s3.example.com
    port: 443
    region: us-west-1
    tls:
      verification:
        none: {}
        server:
          caCert:
            secretClass: tls
            webPIK: {}
