---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: authenticationclasses.authentication.zncdata.dev
spec:
  group: authentication.zncdata.dev
  names:
    kind: AuthenticationClass
    listKind: AuthenticationClassList
    plural: authenticationclasses
    shortNames:
    - authclass
    singular: authenticationclass
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AuthenticationClass is the Schema for the authenticationclasses
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AuthenticationClassSpec defines the desired state of AuthenticationClass
            properties:
              provider:
                properties:
                  ldap:
                    properties:
                      bindCredentials:
                        description: |-
                          Provide ldap credentials mounts for Pods via k8s-search secret-class.
                          The secret searched by k8s-search must contain the following data:
                           - user: bind user, e.g. cn=admin,dc=example,dc=com
                           - password: bind password
                        properties:
                          scope:
                            description: SecretClass scope
                            properties:
                              node:
                                type: boolean
                              pod:
                                type: boolean
                              services:
                                items:
                                  type: string
                                type: array
                            type: object
                          secretClass:
                            type: string
                        required:
                        - secretClass
                        type: object
                      hostname:
                        type: string
                      ldapFieldNames:
                        properties:
                          email:
                            type: string
                          givenName:
                            type: string
                          group:
                            type: string
                          surname:
                            type: string
                          uid:
                            type: string
                        type: object
                      port:
                        type: integer
                      searchBase:
                        description: 'LDAP search base, for example: ou=users,dc=example,dc=com.'
                        type: string
                      searchFilter:
                        description: 'LDAP search filter, for example: (ou=teams,dc=example,dc=com).'
                        type: string
                      tls:
                        properties:
                          verification:
                            description: |-
                              TLSPrivider defines the TLS provider for authentication.
                              You can specify the none or server or mutual verification.
                            properties:
                              mutual:
                                properties:
                                  certSecretClass:
                                    type: string
                                required:
                                - certSecretClass
                                type: object
                              none:
                                type: object
                              server:
                                properties:
                                  caCert:
                                    description: |-
                                      CACert is the CA certificate for server verification.
                                      You can specify the secret class or the webPki.
                                    properties:
                                      secretClass:
                                        type: string
                                      webPki:
                                        type: object
                                    type: object
                                required:
                                - caCert
                                type: object
                            type: object
                        required:
                        - verification
                        type: object
                    required:
                    - bindCredentials
                    - hostname
                    type: object
                  oidc:
                    properties:
                      hostname:
                        type: string
                      port:
                        type: integer
                      principalClaim:
                        type: string
                      provisionerHint:
                        enum:
                        - keycloak
                        type: string
                      rootPath:
                        type: string
                      scopes:
                        items:
                          type: string
                        type: array
                      tls:
                        properties:
                          verification:
                            description: |-
                              TLSPrivider defines the TLS provider for authentication.
                              You can specify the none or server or mutual verification.
                            properties:
                              mutual:
                                properties:
                                  certSecretClass:
                                    type: string
                                required:
                                - certSecretClass
                                type: object
                              none:
                                type: object
                              server:
                                properties:
                                  caCert:
                                    description: |-
                                      CACert is the CA certificate for server verification.
                                      You can specify the secret class or the webPki.
                                    properties:
                                      secretClass:
                                        type: string
                                      webPki:
                                        type: object
                                    type: object
                                required:
                                - caCert
                                type: object
                            type: object
                        required:
                        - verification
                        type: object
                    required:
                    - hostname
                    - principalClaim
                    - provisionerHint
                    type: object
                  static:
                    properties:
                      userCredentialsSecret:
                        properties:
                          name:
                            description: |-
                              The secret name that contains the user credentials.
                              The data contained in secret is related to the data required for the specific product certification function.
                            type: string
                        required:
                        - name
                        type: object
                    required:
                    - userCredentialsSecret
                    type: object
                  tls:
                    properties:
                      clientCertSecretClass:
                        type: string
                    required:
                    - clientCertSecretClass
                    type: object
                type: object
            required:
            - provider
            type: object
          status:
            description: AuthenticationClassStatus defines the observed state of AuthenticationClass
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
